/WebApi.SoftBuilder/packages/**
/WebApi.SoftBuilder/WebApi.SoftBuilder/bin/**
/WebApi.SoftBuilder/WebApi.SoftBuilder/obj/**
/WebApi.SoftBuilder/WebApi.SoftBuilder.Tests/bin/**
/WebApi.SoftBuilder/WebApi.SoftBuilder.Tests/obj/**